.dndList {
  transition: all 300ms ease;
  /* padding: 5px; */
  padding: 8px;

  overflow-y: auto;

  &.dndDragover {
    padding-top: 12px;
    padding-bottom: 12px;

    border-color: green;
  }
}

.dndDragging {
  border: 1px dotted gray;
  padding: 10px;
  background-color: gainsboro;
}

.dndDraggingSource {
  display: none;
}
.card{
  width: 100%;
  max-width: 250px;
  height: 200px;
}